@page
@model EComWeb.Areas.Customer.Pages.Basket.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="/images/main_banner_text.png"/>
    </div>
</section>

<div class="container">
    <h1>Review</h1>
    @if (Model.BasketViewModel.Items.Any())
    {
        <form asp-page="Checkout" method="post">
            
        </form>
    }
</div>