@page
@model EComWeb.Areas.Management.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<a asp-area="Management" asp-controller="User">Users</a>
<a asp-area="Management" asp-controller="Manufactures">Manufactures</a>
<a asp-area="Management" asp-controller="Categories">Categories</a>
<a asp-area="Management" asp-controller="Products">Products</a>
<a asp-area="Management" asp-controller="Specifications">Specification</a>